@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
  font-family: 'Suisse';
  font-weight: normal;
}

@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Bold.woff
);
  font-family: 'Suisse';
  font-weight: bold;
}

html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #4169E1;
  color: #FFA500;
  max-width: 540px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Suisse';
  box-sizing: border-box;
  padding: 36px;
  max-height: 100vh;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 28px;
  color: white;
  margin-top: -20%;
  margin-left: -20%;
}

.button {
  width: 130px;
  height: 60px;
  padding-top: 10px;
  margin-right: -20%;
  box-sizing: border-box;
  border: 3px solid white;
  color:white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
}

.image {
  width: 100%;
  display: block;
  margin: 9% auto 10%;
}

.advice {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 10%;
  margin-left: -15%;
  width: 130%;
  text-align: center;
}

.footer {
  font-size: 14px;
  margin-top: 50px;
  margin-left: -380px;
  color: white;
}
